<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>Summarizer</title>

</head>

<body BGCOLOR="#D7DBDD">

<form action="/col" method="POST" align = "center">

<center> <h1><font face="arial" color="#212F3D">ARTICLE SUMMARIZER</font></h1></center>

<pre><h2>

<font face="arial" color="#212F3D">Enter text to be summarized</font>
<br>
<textarea name = "n1" rows="20" cols="100" > </textarea>
</br>
<font face="arial" color="#212F3D">Enter the number of lines required in summary</font>
<input type ="text" name="n2" >
<br>
<input type="submit" value="Summarize"></h2>

</pre>

</form>

</body>

</html>